/*************** GENERAL ***************/

/* background */

body{
    margin: 0px;
    background-image: url("/ChessGame/project/resources/kaiman/chess_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*** responsiveness ***/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Startseite").*/

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
    	display: none;
    	}
    .dropbtn {
    	display: none !important;
    }
    .dropdown-content {
    	display: none !important;
    }
    .navbar a.navbarIcon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.navbarIcon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a:not(.dropdown-content) {
        float: none;
        display: block !important;
        text-align: left;
    }
    .navbar.responsive .dropdown {
        float: none;
        display: block !important;
        text-align: left;
    }
}

/*************** NAVIGATION ***************/

/*** navigationbar ***/

.navbar{
    background-color: #333;
    position: fixed;
  	top: 0;
  	width: 100%;
  	z-index: 98;
  	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

/*** manual dropdown navigation ***/

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn { 
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  width: 108px;
  background-color: #f9f9f9;
  box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.4);
  z-index: 99;
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*** responsive navigation ***/

/* Import hamburger menu icon */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* Hide the link that should open and close the topnav on small screens */
.navbar .navbarIcon {
    display: none;
}

/*************** CONTENT ****************/

.content{
    margin-top: 100px;
    margin-bottom: 64px;
}

.content-block{
	margin-top:50px;
	background-color:white;
	padding:20px 50px 20px 50px;
	text-align: center;
	margin-right:auto;
	margin-left:auto;
	max-width: 1000px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

/*** content responsive ***/

@media screen and (max-width: 1100px) {
	.content-block {
        max-width: 760px;
    }
    
    /* index grid */

    .index-grid{
        display: grid !important;
        grid-template-columns: 1fr !important;
    }
    
    .index-grid-greetings{
        grid-column: 1 / 2 !important;
        grid-row: 1 / 2 !important;
    }
    
    .index-grid-play{
        grid-column: 1 / 2 !important;
        grid-row: 2 / 3 !important;
        height: 400px !important;
    }
    
    .index-grid-highscore{
        grid-column: 1 / 2 !important;
        grid-row: 3 / 4 !important;
    }
    
    .index-grid-manual{
        grid-column: 1 / 2 !important;
        grid-row: 4 / 5 !important;
    }

    /* game-grid */

    .grid-game{
        grid-template-columns: 624px 90px !important;
    }

	.chessboard-label {
		font-size: 16px !important;
	}

	.label-row {
		line-height: 21px !important;
	}

	.label-column{
		padding: 0 7px !important;
	}

	.grid-game-log{
        grid-column: 1 / 3 !important;
        grid-row: 4 / 5 !important;
    }

    .game-log{
        height: 300px !important;
    }

    /* manual firuge grid */

    .manual-figure-grid{
        grid-template-columns: 1fr 1fr  !important;
    }
    
    .manual-figure-grid-rook{
        grid-column: 1 / 2 !important;
        grid-row: 1 / 2 !important;
    }
    
    .manual-figure-grid-bishop{
        grid-column: 2 / 3 !important;
        grid-row: 1 / 2 !important;
    }
    
    .manual-figure-grid-queen{
        grid-column:  1 / 2 !important;
        grid-row: 2 / 3 !important;
    }
    
    .manual-figure-grid-king{
        grid-column: 2 / 3 !important;
        grid-row: 2 / 3 !important;
    }
    
    .manual-figure-grid-knight{
        grid-column: 1 / 2 !important;
        grid-row: 3 / 4 !important;
    }
    
    .manual-figure-grid-pawn{
        grid-column: 2 / 3 !important;
        grid-row: 3 / 4 !important;
    }
}

@media screen and (max-width: 892px) {
	.content-block {
	    max-width: 420px;
    }
    
    .index-grid-play{
        height: 200px !important;
    }

     /* game-grid */

    .grid-game{
        grid-template-columns: 331px 45px !important;
    }

	.chessboard-label {
		font-size: 8px !important;
	}

	.label-row {
		line-height: 11px !important;
	}

	.label-column{
		padding: 0 4.25px !important;
	}

	.game-turn-info-continer{
        grid-column: 1 / 4 !important;
        grid-row: 1 / 2 !important;
        margin-bottom: 10px !important;
    }
    
    .game-timer-white-container{
        grid-column: 1 / 2 !important;
        grid-row: 2 / 3 !important;
    }
    
    .game-timer-black-container{
        grid-column: 3 / 4 !important;
        grid-row: 2 / 3 !important;
    }

    .chessboard-tile{
        height: 34px !important;
        width: 34px !important;
    }
    
    .chessboard-tile img{
        float: left !important;
        height: 34px !important;
        width: 34px !important;
    }
}

@media screen and (max-width: 668px) {
	.content-block {
	    max-width: 340px;
    }
    
    .index-grid-play{
        height: 150px !important;
    }

     /* game-grid */

    .grid-game{
        grid-template-columns: 299px 45px !important;
    }

	.chessboard-label {
		font-size: 7px !important;
	}

	.label-row {
		line-height: 9px !important;
	}

	.label-column{
		padding: 0 3.25px !important;
	}

    .chessboard-tile{
        height: 30px !important;
        width: 33px !important;
    }
    
    .chessboard-tile img{
        float: left !important;
        height: 30px !important;
        width: 30px !important;
    }

    /* manual firuge grid */

    .manual-figure-grid{
        grid-template-columns: 1fr !important;
    }
        
    .manual-figure-grid-rook{
        grid-column: 1 / 2 !important;
        grid-row: 1 / 2 !important;
    }
    
    .manual-figure-grid-bishop{
        grid-column: 1 / 2 !important;
        grid-row: 2 / 3 !important;
    }
    
    .manual-figure-grid-queen{
        grid-column:  1 / 2 !important;
        grid-row: 3 / 4 !important;
    }
        
    .manual-figure-grid-king{
        grid-column: 1 / 2 !important;
        grid-row: 4 / 5 !important;
    }
        
    .manual-figure-grid-knight{
        grid-column: 1 / 2 !important;
        grid-row: 5 / 6 !important;
    }
    
    .manual-figure-grid-pawn{
        grid-column: 1 / 2 !important;
        grid-row: 6 / 7 !important;
    }
}

/*** content fonts ***/

body *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-weight: bold;
    font-size: 40px;
    margin: 0px;
}

h2{
    font-weight: bold;
    font-size: 40px;
    margin: 0px;
}

h3{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 55px;
}

h4{
    font-weight: bold;
    font-size: 24px;
}

/*** special content stuff */

.hidden{
    display: none;
}

.sideways{
    transform: rotate(90deg);
}

/*************** INDEX ***************/

/*** index-grid layout ***/

.index-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.index-grid-greetings{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.index-grid-play{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-image: url("/ChessGame/project/resources/kaiman/IndexChessGame.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.index-grid-highscore{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.index-grid-manual{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

/*** index-grid content style ***/

.index-grid-content{
    margin: 5px;
    padding: 3px;
    background-color: #ddd;
}

/* play now */

.index-grid-play:hover{
    opacity: 0.8;
}

.index-grid-play a{
    display: block;
    height: 100%;
}

/* little highscore table */

.index-grid-highscore:hover{
    background-color: #bfbfbf;
}

.index-grid-highscore a{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 40px;
}

/************** HIGHSCORE ****************/

#highscore-table{
    border-collapse: collapse;
    border-spacing: 0px;
}

#highscore-table td, #highscore-table th{
    border: 1px;
    border-style: solid;
    border-color: slategray;
}

#highscore-table th{
    background: darkgrey;
    font-weight: bold;
}

#highscore-table td{
    background: lightgrey;
    text-align: center;
}

/*************** GAME ****************/

.grid-game{
    display: grid;
    grid-template-columns: 624px 90px 1fr;
	grid-template-rows: 90px auto;
    row-gap: 0px;
}

#game-info{
	box-sizing: border-box;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: black solid 1px;
	border-collapse: collapse;

}

.grid-pause{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.grid-chessboard{
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}
  
.grid-pawn-promotion-white{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.grid-pawn-promotion-black{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.grid-game-log{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.invisible{
    opacity: 0;
}

/*** Game INFO ***/

/* turn info grid */

.player-info-container {
	width: 36%;
	height: 100%;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-spacing: 0;
	border-collapse: collapse;
	position: relative;
}

.player-info-container td, .player-info-container th {
	border: 3px solid black;
	border-collapse: collapse;
}
player-info-container th {
	padding: 10%;
}
.turn-info-container{
	width: auto;
	margin: auto;
}

.player-info-content {
	display: none;
	z-index: 3;
	min-width: 100%;
	width: 100%
}
.player-info-content * {
	z-index: 3;
	width: 100%;
}

.name-info-container:hover + .player-info-content {
	display: table-row;
	position: absolute;
	z-index: 3;
}

.name-info-container:hover th:first-child::before{
	content: "  \25B4";
	transition: 0.5s;
	padding-left: 15px;
	float: left;
}
.name-info-container th:first-child::before{
	content: "  \25BE";
	transition: 0.5s;
	padding-left: 15px;
	float: left;
}

.captured-pieces {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.captured-piece {
	width: 30%;
}
.captured-piece img{
	width: 100%;
}

/*** Pause ***/

#grid-pause {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}

#pause-button {
	padding: 10px;
	height: 40px;
	width: 40px;
	box-shadow: -1px 1px 0px 1px black;
	border: black solid 3px;
}

#pause-button:hover {
	background-color: #bfbfbf;
	box-shadow: inset 2px -2px 3px 5px black;
	opacity: 0.5;
}

.full-layer {
	box-sizing: border-box;
	z-index: 10;
	height: 100%;
	width: 100%;
	padding: 30px;
	background-color: #9E9E9E;
	border: black solid 3px;
	box-shadow: grey  inset 0 0 20px 20px;
}

.full-layer img {
	max-width: 100%;
}

#pause-layer {
	display: none;
}

#init-layer {
	background: url("/ChessGame/project/resources/images/chess-icon-480x480-big.png") no-repeat left;
	background-size: contain;
}

.init-layer-content {
	text-align: center;
	font-size: 48px;
	margin: 10px auto;
	width: 33%;
	border: #000 solid 6px;
    background-color: #ffffff7F;

}

#start-new-game {
	width: 90%;
	margin: auto;
}

/*.pause-button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 40px;
    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 19px 0 19px 30px;
  }

  .pause-button.paused {
    border-style: double;
    border-width: 0px 0 0px 30px;
  }
  
  .pause-button:hover {
    border-color: transparent transparent transparent #404040;
  }*/

/*** chessboard layout ***/

.chessboard{
	border: solid black;
	border-collapse: collapse;
	margin: 5px;
}

.chessboard-label {
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
}

.label-row {
	line-height: 21px;
}

.label-column{
	padding: 0 7px;
}

.chessboard-tile{
    height: 68px;
    width: 68px;
}

.chessboard-tile img{
	float: left;
}

/* tile-colors */

.light{
    background-color: antiquewhite;
}

.dark{
    background-color: brown;
}

/* special tile-colors for evaluation */

.valid-turn{
    background-color: greenyellow;
}

.last-turn{
    background-color: aqua;
}

.capture{
    background-color: darkorange;
}

.checkmate{
    background-color: red;
}

.checkmate-cause{
    background-color: lightcoral;
}

.chosen{
    background-color: yellow;
}

/*** pawn conversion ***/

.pawn-promotion-white{
    margin-bottom: -3px;
}

.pawn-promotion-black{
    margin-top: -3px;
}

/*** game-log scrollable box ***/

.game-log{
	box-sizing: border-box;
	padding: 10px;
	margin: auto;
    height: 82.5%;
    width: 100%;
    overflow: auto;
	resize: none;
}

/*************** manual ****************/

/* spacing text passages */

.manual-text {
    margin-top: 30px;
    margin-bottom: 0px;
}

/* chessboard images size */

.chessboard-img-manual{
    height: 200px;
}

/*** grid for figure rules ***/

.manual-figure-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.manual-figure-grid-rook{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.manual-figure-grid-bishop{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.manual-figure-grid-queen{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.manual-figure-grid-king{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.manual-figure-grid-knight{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.manual-figure-grid-pawn{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.manual-figure-grid-content{
    margin: 5px;
    padding: 3px;
    text-align: center;
    background-color: #ddd;
}

/*** grid for special turns at the end ***/

.manual-ending-grid{
    display: grid;
    padding: 10px;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%; /* 9 columns */
    column-gap: 1.25%;
    grid-template-rows: 450px;
    background-color: #9E9E9E;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

/* style of the inner white boxes witch content */

.manual-ending-grid > div{ /* only applies for the div-childs at first level and not further */
    background-color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.manual-ending-grid-pictures-box{
    display: inline-flex;
}

.manual-ending-grid-pictures{
    margin-left: 10px;
    margin-right: 10px;
}

/** 3 sizes for the boxes **/

/* check boxes */

.manual-ending-grid-check{
    grid-column: 1 / 4;
}

.manual-ending-grid-check-small{
    grid-column: 1 / 2;
}

.manual-ending-grid-check-big{
    grid-column: 1 / 8;
}

/* check-mate boxes */

.manual-ending-grid-checkmate{
    grid-column: 4 / 7;
}

.manual-ending-grid-checkmate-small-right{
    grid-column: 8 / 9;
}

.manual-ending-grid-checkmate-small-left{
    grid-column: 2 / 3;
}

.manual-ending-grid-checkmate-big{
    grid-column: 2 / 9;
}

/* patt boxes */

.manual-ending-grid-patt{
    grid-column: 7 / 10;
}

.manual-ending-grid-patt-small{
    grid-column: 9 / 10;
}

.manual-ending-grid-patt-big{
    grid-column: 3 / 10;
}

/* put the vertical headding in the center, away from the top */

.manual-ending-grid-check-small h4, .manual-ending-grid-checkmate-small-right h4, .manual-ending-grid-checkmate-small-left h4, .manual-ending-grid-patt-small h4{
    margin-top: 165px;
}

.anchor{
  display: block;
  height: 60px; /*same height as navbar*/
  margin-top: -60px; /*same height as navbar*/
  visibility: hidden;
}